@font-face {
    font-family: 'Press Start 2P';
    src: url('Press Start 2P/PressStart2P-Regular.woff2') format('woff2'),
        url('Press Start 2P/PressStart2P-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

